<head>

</head>
<body>
<h1>Search Results</h1>


<h2>You searched for:</h2>
<p id="example"><%= @asked_question %>"</p>

<div class="output"><%= @item1 %></div>
<div>

</div>
<a href="/" class="goback">Search again</a>
<a href="/event_searches" class="goback">Past Searches</a>
</body>
