<head>
<link rel="stylesheet" href="index.css">
</head>
<body>
<h1>Search Results</h1>


<h2>You searched for:</h2>
<p>"<%= @asked_question %>"</p>

<div class="output"><%= @item1 %></div>

<a href="/">Search again</a>
</body>
