<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/index.js" type="text/javascript"></script>
    <link href="/styles.css" type="text/css" rel="stylesheet">

</head>
<body>
    <h1>goVend Chat Machine</h1>
    <h2>Streaming GPT-3.5 Turbo!</h2>

<div class="list-area">
    <div>
        <h3>Chat with the AI:</h3>
        <div id="chat-box"></div>
        <input type="text" id="input-box" placeholder="Type a message..." />
    <div>
    <div>
        <h3>Selected Items:</h3>
        <ul id="selected-list"></ul>
        
    </div>
</div>



   
</body>
</html>
