<!DOCTYPE html>
<html>
  <head>
    <title>goVend</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="index.css">
  </head>

  <body>
  <div id="layout">
  <h1>Welcome to goVend</h1>
  <p class="subtitle">Helping vendors find their next event to sell their products or services at!</p>
  </div>
    <%= yield %>
  </body>
</html>
